<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="../../style/screen.css" type="text/css"/>
    <link rel="alternate" type="application/atom+xml" 
      title="Atom Feed" href="{{ feedPath }}"/>
  </head>
  <body>
    {{>header}}
    <div id="content">
      <h1 align="center">打卡记录</h1>
      <table id="records" cellspacing="0" rules="all" border="1" style="width:100%;border-collapse:collapse;" >
	<tr>
	  <th scope="col">erp账号</th><th scope="col">日期</th><th scope="col">上班时间</th><th scope="col">下班时间</th>
	</tr>
        {{#records}}
          <tr>
	    <td align="center">{{ name }}</td><td align="center">{{ date }}</td><td align="center">{{ begin }}</td><td align="center">{{ end }}</td>
	  </tr>
        {{/records}}
    </ul>
    <div class="paginate">
      <a href="{{ older }}">older posts</a>
      <a href="{{5}}">5</a>
      <a href="{{10}}">10</a>
      <a href="{{25}}">25</a>      
    </div>
  </div>
</body>
{{>scripts}}
<script type="text/javascript" charset="utf-8">
  $.couch.app(function() {
    $("#tagcloud").evently(this.ddoc.evently.tagcloud, this);
  }, {
    db : "{{db}}",
    design : "{{design}}"
  });
</script>
</html>
